ion-icon {
  color:white;
  --ionicon-stroke-width: 90px;
}

.red{
    background-color: #DC2F0A;
}

.yellow{
  background-color: #FBF113;
}

.green{
  background-color: #2EEA0D;
}

.purple{
  background-color: #8517F4;
}

.orange{
  background-color: #F57E21;
}
